<html>
<head>
	<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="app.js"></script>
	<style>
			.container {
			  display: flex;
			}
			.container > div {
			  flex: 1; /*grow*/
			}
			.mainBox {
			  position: absolute;
			  left: 200px;
			  width: 990px;
			  height: 600px;
			  border: 1px solid black;
			}
			.insideBox {
			  position: absolute;
			  left: 40px;
			  width: 900px;
			  border: 1px solid black;
			}
	</style>
</head>
<body ng-app = "myModule">
	<div class= "mainbox">
	<br><br>
			<hr />
				<p style="font-family: cursive;font-style: normal;font-size: x-large;padding-left:40px;">Apply for Digital Identification</p>
				<p style="padding-left:40px;"><b>Don't have ?</b> <i style="font-size: medium;">Fill all the details and we will mail you the Digital Identification number in your mailbox.</i></p>
		<div class = "insideBox" ng-controller = "myController">
		<br><br>
			<div class="container">
				<div>
					&nbsp;&nbsp;<i><b>Legal Name :</b></i><br><br>
					&nbsp;&nbsp;<input type ="text" id= "name" ng-model="name">
				</div>
				<div>
					&nbsp;&nbsp;<i><b>SSN :</b></i><br><br>
					&nbsp;&nbsp;<input type="text" id="ssn" ng-model="ssn">
				</div>
				<div>
					&nbsp;&nbsp;<i><b>Date Of Birth (mm/dd/yyyy) :</b></i><br><br>
					&nbsp;&nbsp;<input type="date" id="dob" ng-model="dob">
				</div>
			</div>
			<br><br>
			<div class="container">
				<div>
					&nbsp;&nbsp;<i><b>Gender :</b></i><br><br>
					&nbsp;&nbsp;<input type="radio" id="gender" ng-model="gender" value="Male">Male
					&nbsp;&nbsp;<input type="radio" id="gender" ng-model="gender" value="Female">Female
				</div>
				<div>
					&nbsp;&nbsp;<i><b>Email :</b></i><br><br>
					&nbsp;&nbsp;<input type="text" id="emailId" ng-model="emailId">
				</div>
				<div>
					&nbsp;&nbsp;<i><b>Cell Phone :</b></i><br><br>
					&nbsp;&nbsp;<input type="text" id="countryCode" style="width: 3em;" ng-model="countryCode">&nbsp;&nbsp;<input type="text" id="phoneNumber" ng-model="phoneNumber">
				</div>
			</div>
			<br><br>
			<div class="container">
				<div>
					&nbsp;&nbsp;<i><b>Address :</b></i><br><br>
					&nbsp;&nbsp;<input type="text" id="address" style="width: 30em;" ng-model="address">
				</div>
				<div>
					&nbsp;&nbsp;<i><b>Upload Photo Id Proof :</b></i><br><br>
					&nbsp;&nbsp;<input type ="file" name="file" id="file" file-model="myFile" accept="image/*">
				</div>
			</div>
			<br><br><br>
			<div style= "text-align:center;">
				&nbsp;&nbsp;<input type="submit" id = "submit" value="Submit" ng-click="submitApplicantData()">
			</div>
			<br>
		</div>
	</div>
</body>
</html>